*.swp
downloads/
/gnunet
gnunet-build/artifacts/
gnunet-build/sources/
gnunet-build/sysroot/
gnunet-build/tmp/
/.boot/
/resources/public/
/assets/js/gnunet-daemon-*.js
/assets/js/gnunet-service-*.js
/assets/js/libgnunet_plugin_*.js
/src/js/client-lib.inc.js
